<html>
    <head>
        <title>index</title>
    </head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <%- include("./header.ejs");%>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <%- include("./left.ejs");%> 
            </div>
            <div class="col-9">
                
            </div>
        </div>
    </div>
    
</body>
</html>